header{
	
	background-image:url("../images/light.jpg"); 
	background-size:cover;
	height:10%;
	filter: brightness(0.998);
	width:100%;
	font-family:'Dancing Script', cursive;
	padding-left: 10px;
		}
	
	#heading{
	font-weight:lighter; 
	position:relative;
	color:#FADDB4; 
	bottom:55px;
	left:75px;
	font-size: 35px;
	max-width:50%;
}
nav {
	
	position:relative; color:#F8F0D3; 
    font-size: 22px;left:16%; bottom:70px; margin-top: 60px; 
	max-width:70%;
}
nav a{
    display: inline-block;
    margin-left:37px;
	position: relative;
}
		nav a:hover {
    color:#FAEDA9 ;
	text-decoration: underline;
	cursor:pointer;
}
a:hover {
    
	text-decoration: underline;
	cursor:pointer;
}
		.clear{
	clear: both;
}
#topright{
	position: absolute; top:5px; color:#FCEFDF;
	float:right;
	font-family:'Dancing Script', cursive;background:none;border:none;
	font-size: 18px;
	padding:1px;
	
	
}
#topright:hover{
	cursor: pointer;
	text-decoration: underline;
}
		
#form{
	border:#EFCB75 thick solid; margin:auto 40px auto 50px;padding: 40px;border-radius: 7px;
	background-color:rgba(171,156,146,0.2);box-shadow:  3px 3px 1px 1px rgba(0, 0, 0, 0.5);
	
	
	}
fieldset{
	position: relative;
	max-width: 78%;
	 border-radius: 10px;
	
	font-size: 17px;
	left:6%;
	padding:3% 5%;
	
		}
		.fields{
			position: relative;
			max-width:30%;
			background-color:white;color:black;font-size:13px;
			border-radius:15px; padding:5px 20px 5px 20px;
		}

		

		
.submit {border-radius:10px; padding:5px 20px 5px 20px; color:#F6E4BA; background-color:#0F0E0D;position:relative; left:40%; margin-top:10px;font-size: 17px;width:130px }
		

		
		
fieldset input:focus{
			background-color:rgba(187,180,180,0.99);
		}


#form p{
			font-size: 20px;
		}
#content{width: 90%; height:150px; position: relative;padding:20px;border-radius: 10px; border-top: rgba(0,0,0,0.38) medium solid;border-left: rgba(0,0,0,0.37) medium solid;}
		
footer{
			position:relative; background-position:top; background-image:url("../images/light-night-0.jpg"); 
	background-size:cover; min-width: 100%; height:200px;  filter:brightness(0.9); color:#F3E9C9;padding:30px 10px;
		}
#follow{
		float:left; display:inline-block;font-size: 13px;
		}
#copyright{
			position:absolute; bottom:20px;left:10px; font-weight: lighter; font-size:13px;
		}
	