header{
	
	background-image:url("../images/light.jpg"); 
	background-size:cover;
	height:10%;
	filter: brightness(0.998);
	width:100%;
	font-family:'Dancing Script', cursive;
	padding-left: 10px;
		}
	
	#heading{
	font-weight:lighter; 
	position:relative;
	color:#FADDB4; 
	bottom:55px;
	left:75px;
	font-size: 35px;
	max-width:50%;
}
nav {
	
	position:relative; color:#F8F0D3; 
    font-size: 22px;left:210px; bottom:40px; margin-top: 60px; 
	max-width:70%;
}
nav a{
    display: inline-block;
    margin-left:37px
}
		nav a:hover {
    color:#FAEDA9 ;
	text-decoration: underline;
	cursor:pointer;
}
a:hover {
    
	text-decoration: underline;
	cursor:pointer;
}
.clear{
clear: both;
}
		form {
			
			max-width: 100%;
		}
fieldset{max-width:  80%; position: relative; left:8%; height:80%}
.profile{
	border:black thick solid; padding:1%;border-radius: 7px;
	background-color:rgba(171,156,146,0.4);box-shadow:  3px 3px 1px 1px rgba(0, 0, 0, 0.5);
	max-width: 100%;}
		
.photo{
			position: relative;
			margin:1% 1% 1% 4%;
			max-width:160px;
			
			
			
		}
		
		#logo{
			max-width:180px;margin-bottom: 25px;
		}
		#name{
			
			position:relative;
			background:none;
			text-align-last: center;
			max-width:100px;
			font-size: 20px;
			left:35%;
			color:white;
			border:none;
			border-bottom: white solid thin;
				
		}
	
	

#upload{
	background-color:white;color:black;font-size:10px; 
	position: relative;
	border-radius: 3px;
	border: black thin solid;
	padding:5px;
	max-width: 85%;
	
		}	

		
	.pheader{
		background-image:url("../images/hd-loopable.jpg"); opacity: 0.89;padding: 1%; border-radius: 7px;
	max-height:25%;
	max-width: 100%;;
		}

		.blogName{
			position: relative;
			max-width: 20%;
			border-radius:3px; padding:5px 20px 5px 20px;color:black;font-size: 20px;
			text-align:center;float: right; bottom:160px;right:35%;
		}
		
		
		#bio{
			position: relative;
			width: 40%;
			border-radius:3px; padding:5px 20px 5px 20px;color:black;font-size: 15px;
			float: right; bottom:100px;
			
		}

		


		
.submit {border-radius:10px; padding:5px 20px 5px 20px; color:#F6E4BA; background-color:#0F0E0D;max-width:150px;position:relative; left:30px; margin-top:10px;font-size: 17px; }

#topright{
	position: absolute; top: 5px; color:#FCEFDF;
	float:right;
	font-family:'Dancing Script', cursive;background:none;border:none;
	font-size: 18px;
	padding:1px;
	
	
}
#topright:hover{
	cursor: pointer;
	text-decoration: underline;
}

		
footer{
			position:relative; background-position:top; background-image:url("../images/light.jpg"); 
	background-size:cover; min-width: 100%; height:200px;  filter:brightness(0.9); color:#F3E9C9;padding:30px 10px;
		}
#follow{
		float:left; display:inline-block;font-size: 13px;
		}
#copyright{
			position:absolute; bottom:20px;left:10px; font-weight: lighter; font-size:13px;
		}
		.box{
width:0;
height:0;
background:white;
visibility: hidden;
}
		.box2{
width:0;
height:0;
background:white;
visibility: hidden;
}		
		
        .box3{
width:0;
height:0;
background:white;
visibility: hidden;
}	
		.box4{
width:0;
height:0;
background:white;
visibility: hidden;
}	
		.toggle1 {
			font-size: 30px; border:thin black solid;padding:3px;background-color:black;color:white;
		}
#toggle1:checked ~ .box{
	width:60%;
	height:60%;
	visibility: visible; 
	border-radius: 10px;
    float:right;
	margin-right: 5%;
	
	font-size: 10px;border:black thin solid; padding:30px 3px 30px 60px ;font-size:15px;
		}
		.toggle2{font-size: 31px; border:thin black solid;padding:3px;background-color:black;color:white;}
#toggle2:checked ~ .box2{
	position: relative;
	width:60%;
	height:60%;
	visibility: visible; 
	border-radius: 10px;
	float:right;
	margin-right: 5%;
	
	font-size: 10px;border:black thin solid; padding:30px 3px 30px 60px ;;font-size:15px;
		}
		.toggle3{font-size: 31px; border:thin black solid;padding:3px;background-color:black;color:white;}
#toggle3:checked ~ .box3{
	width:60%;
	height:60%;
	visibility: visible; 
	border-radius: 10px;
    float:right;
	margin-right: 5%;
	
	font-size: 10px;border:black thin solid; padding:30px 3px 30px 60px ;font-size:15px;
		}
		.toggle4{font-size: 31px; border:thin black solid;padding:3px;background-color:black;color:white;}
#toggle4:checked ~ .box4{
	width:60%;
	height:60%;
	visibility: visible; 
	border-radius: 10px;
    float:right;
	margin-right: 5%;
	
	font-size: 10px;border:black thin solid; padding:30px 3px 30px 60px ;font-size:15px;
		}
		#lstatus{border:thin black dashed;margin-right:5px; padding:5px;}
		#lschool, #lawards, #ljob, #lcompany, #laddress, #lphone, #lemail {border:thin black dashed;margin-right:10px; padding:5px;}	
		#job, #address {position: relative; top:13px; min-width:40%}
		#facebookimg, #instagramimg {position:relative; top: 10px;margin-right: 3px;}
		#twitterimg{position:relative; top: 10px;margin-right: 20px;}
		#otherimg{position:relative; margin-right: 10px;}